<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.airmessage.logs</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Day</key>
		<string>1</string>
	</dict>
    	<key>EnvironmentVariables</key>
    	<dict>
      		<key>PATH</key>
      		<string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    	</dict>
    
    	<key>UserName</key>
    	<string>DeadlyChambers</string>

    	<key>WorkingDirectory</key>
    	<string>/Users/DeadlyChambers/scripts</string>

    	<key>ProgramArguments</key>
    	<array>
      		<string>/bin/bash</string>
      		<string>logclean.sh</string>
    	</array>
</dict>
</plist>
